    <div class="columns col-gapless max-height">
        <div class="column col-3 max-height">
            <div class="panel max-height">
                <div class="panel-header">
                    <div class="panel-title"></div>
                </div>
                <div class="panel-nav">
                    <!-- navigation components: tabs, breadcrumbs or pagination -->
                </div>
                <div class="panel-body max-height" id="left-chat-body">
                    
                    <div class="tile tile-centered chat-tile">
                        <div class="tile-content">
                          <div class="tile-title">John Smith <span>15:04.56</span></div> 
                          <small class="tile-subtitle">message 1, message 2, message 3</small>
                        </div>
                      </div>

                        <!-- example with image, user in chat-->
                      <div class="tile tile-centered chat-tile">
                        <div class="tile-content">
                          <div class="tile-title">John Smith <span>15:04.56</span></div> 
                          <small class="tile-subtitle">message 1, message 2, message 3</small>
                        <div class="tile-action">
                          <div class="chip">
                            <img src="img/avatar-1.png" class="avatar avatar-sm">
                            Yan Zhu
                          </div>
                        </div>
                        </div>
                      </div>

                      <!-- example with initial, user in chat-->
                      <div class="tile tile-centered chat-tile">
                        <div class="tile-content">
                          <div class="tile-title">John Smith <span>15:04.56</span></div> 
                          <small class="tile-subtitle">message 1, message 2, message 3</small>
                          <div class="tile-action">
                            <div class="chip">
                              <figure class="avatar avatar-sm" data-initial="Y"><img src="" ></figure>
                              Yan Zhu
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
                <div class="panel-footer">
                    <!-- footer contents -->
                </div>
            </div>
        </div>
        <div class="column col-9 max-height" id="message-col">
            <div class="panel max-height">
                <div class="panel-header">
                    <div class="panel-title h6">Chat</div>
                </div>
                <div class="panel-body max-height" id="right-chat-body">
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-1.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Thor Odinson</p>
                            <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-1.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Thor Odinson</p>
                            <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-1.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Thor Odinson</p>
                            <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-1.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Thor Odinson</p>
                            <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-1.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Thor Odinson</p>
                            <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-1.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Thor Odinson</p>
                            <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-1.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Thor Odinson</p>
                            <p class="tile-subtitle">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="tile-icon">
                            <figure class="avatar"><img src="../img/avatar-2.png" ></figure>
                        </div>
                        <div class="tile-content">
                            <p class="tile-title text-bold">Bruce Banner</p>
                            <p class="tile-subtitle">The Strategic Homeland Intervention, Enforcement, and Logistics Division...</p>
                        </div>
                    </div>
                </div>
            <div class="panel-footer fixed-bottom">
                <div class="input-group">
                    <input class="form-input" id="message-input" type="text" placeholder="message text here...">
                    <button class="btn btn-primary input-group-btn" id="chat-send-button" onclick="sendMessage()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>