{{ define "body" }}
<body>
    <header class="navbar" id="navbar">
        <section class="navbar-section">
          <a href="#" class="btn btn-link">Available Chats</a>
          <a href="#" class="btn btn-link">My Chats</a>
        </section>
        <section class="navbar-center">
          <!-- centered logo or brand -->
        </section>
        <section class="navbar-section">
          <a href="#" class="btn btn-link">Logout</a>
        </section>
      </header>

      {{ template "content" . }}

    <script src="/js/scripts.js"></script>
</body>
{{ end }}